{% import 'navigation.jinja' as nav %}
{% import 'show.jinja' as show %}

{% macro lecture(title, page=None, shortcut=None) %}
<div class="lehre-lecture">
  {% if page and deref(page, fail=False) %}{{nav.link(page, title=title) }}
  {% else %}
  {{ title }}
  {% endif %}
  {% if shortcut %}<br/><span style="font-size:75%">{{shortcut}}</span>{%endif%}
</div>
{% endmacro %}

{% macro evaluation(event) %}
  <ul>
    {% for eval in object_list('evaluation', lecture=event) | sorted | reverse %}
      <li> {{ show.show(eval) }} </li>
    {% endfor %}
  </ul>
{% endmacro %}

{% macro header() -%}
<h1>{{ page.title }}</h1>
  <div class="well well-sm">
   {% set modkat = deref(page['modkat'], fail=False) -%}
   {% if modkat %}{{ show.show(modkat) }}{% endif %}
   {% if page.email %}<b>E-Mail:</b> <a href=mailto:{{page.email}}>{{page.email}}</a><br/>{% endif %}
   {{ caller() }}
 </div>
{%- endmacro %}

{% macro studip_list() %}
    {% for name,id in page.studip %}
        <li><a href="{{studip.base_url}}/dispatch.php/course/details/?sem_id={{id}}" target="_blank">{{name}}</a></li>
    {% endfor %}
{% endmacro %}

{% macro studip() %}
<h2> Anmeldung und weitere Infos</h2>

<p>Für diese Veranstaltung ist eine Online-Anmeldung über {{
nav.link('studip') }} erforderlich. Bitte registrieren Sie sich (falls
noch nicht geschehen) für {{ nav.link('studip') }} und tragen Sie sich
dort in die
{% if page and page.studip and page.studip|length == 1 and page.studip[0]|length == 1 %}
    <a href="{{studip.base_url}}/dispatch.php/course/details/?sem_id={{page.studip[0][0]}}" target="_blank">entsprechende Veranstaltung</a>
{% else %}
    entsprechende Veranstaltung
{% endif %}
ein. </p>
{% if page and page.studip and page.studip[0]|length != 1 %}
    <p><strong>Stud.IP Veranstaltungen</strong><br/>
    {% for name,id in page.studip %}
        <a href="{{studip.base_url}}/dispatch.php/course/details/?sem_id={{id}}" target="_blank">{{name}}</a><br/>
    {% endfor %}
    </p>
{% endif %}
{% endmacro %}
