{% macro thesis_status(thesis) %}
{{ {'reserved': 'reserviert',
    'open': 'offen',
    'running': 'laufend',
    'draft': 'in Planung',
    'finished': 'abgeschlossen'}[thesis['thesis-status']] }}
{% endmacro %}

{% macro thesis_type(thesis) %}
{{ {'BA': 'Bachelorarbeit',
    'MA': 'Masterarbeit',
    'BAMA': 'Bachelor-/Masterarbeit',
    'RP': 'Forschungsprojekt'
    }[thesis['thesis-type']] }}
{% endmacro %}

