{% macro name(object, compact=True) %}
  {% set object = deref(object) %}
  {% if isA(object, 'person') -%}
    {%- if object['name-prefix'] and not compact %}{{ object['name-prefix'] }} {%+ endif %}{{ object.name }}{% if object['name-postfix'] and not compact %} ({{ object['name-postfix'] }}){% endif -%}
{%- else -%}
  {{ (compact and object.short_title) or object.title or object.name or ('['+object.id+']') }}
{%- endif -%}
{% endmacro %}

{% macro link(object, title=None, link_attr=None, title_attr=None, compact=True, href_only=False, classes=None) %}
  {# If we have an anchor object in front of us, we dereference it once. #}
  {% set link = deref(object) -%}
  {% set link_attr = (link_attr in link and link_attr) or 'href' -%}
  {% set object = (isA(deref(object), 'anchor') and deref(object[link_attr])) or deref(object) -%}
  {% set link_attr = object.get(link_attr) -%}
  {# If we link a publication/bibtex entry, we refer to an anchor on the publications-all site or to the current page, depending on the x-own attribute #}
  {% set publications_href = (((object['x-own'] or (object.bibtex and object.bibtex['x-own']))
                                  and deref('publications-all').href)
                               or page.href) %}
  {% set href = (link_attr
                 or (isA(object, 'news') and deref('news').href)
                 or (isA(object, 'publication') and publications_href)
                 or (isA(object, 'bibtex') and publications_href)) %}
  {% set anchor = (link.anchor
                   or (isA(object, 'news') and object.id)
                   or (isA(object, 'publication') and (not isA(object, 'page')) and object.id)
                   or (isA(object, 'bibtex') and (not isA(object, 'page')) and object.id[4:])) -%}
  {%- set title = title or (title_attr and link[title_attr]) or name(link, compact=compact) -%}
  {% if href -%}
    {%- set href = (href | link) + ((anchor and "#" + anchor) or "") -%}
    {%- if href_only -%}{{href}}{%- else -%}
      <a {% if classes %}class="{{classes}}"{%endif%} href="{{href}}" {% if object.external %}class="external"{% endif %}>{{ title }}</a>
    {%- endif -%}
  {%- else -%}
    {{title}}
  {%-endif-%}
{%- endmacro %}

{% macro biblink(key) %}{{ link('bib:' + key, title_attr='userd') }}{%endmacro %}

{% macro link_if_exists(object, title=None) %}
  {% if object.id or deref(object, fail=False) %}
    {{ link(object,title) }}
  {% elif object.startswith and object.startswith("http") %}
    <a href="{{object}}">{{ title or object }}</a>
  {% else %}
    {{ title or object }}
  {% endif %}
{% endmacro %}


{% macro asset(name, title=None, type='link') %}
   {% if type == 'link' %}
   <a href="{{ page.relative_root }}{{__asset(name)}}">{{ title or name }}</a>
   {% else %}
   {{ "Unsupportet asset type " + type | warn}}
   {% endif  %}
{% endmacro %}

{% macro manpage(title, section=1) %}
<a href="https://manpages.debian.org/jump?q={{title}}.{{section}}">{{title}}({{section}})</a>
{% endmacro %}

{% macro sitemap(node) %}
{% if node.get('menu.list', true) %}
  <li>
    {% if node.href %}
      {{ link(node) }} <span class="text-muted">[{{node.id}}]</span>
    {% else %}
      <strong>{{ node.label or node.title }}</strong>
    {% endif %}
   {% if node.children %}
   <ul>
   {% for n in node.children | sorted %}
   {{ sitemap(deref(n)) }}
   {% endfor %}
   </ul>
   {% endif %}
</li>
{% endif %}
{% endmacro %}
